{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <style>
        .content {
            margin: 0px;
            padding: 0px;
            border: 0px;
            background-color: #1b1c1b;
        }
        body {
            background-color: #1b1c1b;
        }
        .center {
            margin: auto;
            width: 50%;
        }
    </style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="column">
        {{ p1|safe }}
    </div>
    <div class="column">
        {{ p2|safe }}
    </div>
</div>
{% endblock %}